In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [3]:
obj = pd.Series([4,7,-8,2])
print(obj)
print(type(obj))

0    4
1    7
2   -8
3    2
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
obj.values

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([34,25,65,12,3,6,55], index=['a','b','c','d','e','f','vd'])
obj2

In [7]:
obj2["e"]

3

In [8]:
obj2['a'] = 6455
obj2

In [9]:
obj2[obj2>10]

In [10]:
sdata = {'Warszawa':45120,'Kraków':38960,'Lublin':31450,'Gdańsk':33210}
sdata

{'Warszawa': 45120, 'Kraków': 38960, 'Lublin': 31450, 'Gdańsk': 33210}

In [11]:
obj3 = pd.Series(sdata)
obj3

In [12]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(sdata,index=miasta)
obj4

In [13]:
pd.isnull(obj4)

In [14]:
obj3+obj4

In [15]:
data = {'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
        'rok':[2017,2018,2019,2018,2019,2020],
        'pop':[2.7,2.75,3.05,0.85,0.9,1.01]}

frame = pd.DataFrame(data)
frame

,miasto,rok,pop
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.85
4,Kraków,2019,0.90
5,Kraków,2020,1.01

In [16]:
frame2 = pd.DataFrame(data, columns=['rok','miasto','pop','wsp'],index=['jeden','dwa','trzy','cztery','pięć','sześc'])
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.85,NaN
pięć,2019,Kraków,0.90,NaN
sześc,2020,Kraków,1.01,NaN

In [17]:
frame2['miasto']

In [18]:
frame2.rok

In [19]:
frame2['wsp'] = 19.99
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,19.99
dwa,2018,Warszawa,2.75,19.99
trzy,2019,Warszawa,3.05,19.99
cztery,2018,Kraków,0.85,19.99
pięć,2019,Kraków,0.90,19.99
sześc,2020,Kraków,1.01,19.99

In [20]:
frame2['wsp'] = np.arange(6.)
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,0.0
dwa,2018,Warszawa,2.75,1.0
trzy,2019,Warszawa,3.05,2.0
cztery,2018,Kraków,0.85,3.0
pięć,2019,Kraków,0.90,4.0
sześc,2020,Kraków,1.01,5.0

In [28]:
daty = pd.date_range("20230703",periods=6)
daty

DatetimeIndex(['2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06',
               '2023-07-07', '2023-07-08'],
              dtype='datetime64[ns]', freq='D')

In [29]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list('ABCD'))
fr

,A,B,C,D
2023-07-03,-1.480476,-0.034789,-0.518911,-2.221015
2023-07-04,-0.093959,-1.459168,0.416766,0.707263
2023-07-05,1.722704,-0.861637,-0.578633,-0.105543
2023-07-06,-0.808593,0.163377,0.104953,0.683649
2023-07-07,0.933979,1.249257,1.402923,-0.055284
2023-07-08,0.988478,0.165432,-1.263936,0.370066

In [31]:
fr.head(2)

,A,B,C,D
2023-07-03,-1.480476,-0.034789,-0.518911,-2.221015
2023-07-04,-0.093959,-1.459168,0.416766,0.707263

In [32]:
fr.tail(3)

,A,B,C,D
2023-07-06,-0.808593,0.163377,0.104953,0.683649
2023-07-07,0.933979,1.249257,1.402923,-0.055284
2023-07-08,0.988478,0.165432,-1.263936,0.370066

In [33]:
print(type(fr))

<class 'pandas.core.frame.DataFrame'>

In [35]:
fnp = fr.to_numpy()
fnp

In [36]:
print(type(fnp))

<class 'numpy.ndarray'>

In [37]:
fr.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,0.210356,-0.129588,-0.072806,-0.103477
std,1.217052,0.936669,0.929808,1.094295
min,-1.480476,-1.459168,-1.263936,-2.221015
25%,-0.629935,-0.654925,-0.563703,-0.092978
50%,0.420010,0.064294,-0.206979,0.157391
75%,0.974854,0.164918,0.338812,0.605253
max,1.722704,1.249257,1.402923,0.707263

In [38]:
fr.T

,2023-07-03,2023-07-04,2023-07-05,2023-07-06,2023-07-07,2023-07-08
A,-1.480476,-0.093959,1.722704,-0.808593,0.933979,0.988478
B,-0.034789,-1.459168,-0.861637,0.163377,1.249257,0.165432
C,-0.518911,0.416766,-0.578633,0.104953,1.402923,-1.263936
D,-2.221015,0.707263,-0.105543,0.683649,-0.055284,0.370066

In [39]:
fr.sort_index(axis=1,ascending=False)

,D,C,B,A
2023-07-03,-2.221015,-0.518911,-0.034789,-1.480476
2023-07-04,0.707263,0.416766,-1.459168,-0.093959
2023-07-05,-0.105543,-0.578633,-0.861637,1.722704
2023-07-06,0.683649,0.104953,0.163377,-0.808593
2023-07-07,-0.055284,1.402923,1.249257,0.933979
2023-07-08,0.370066,-1.263936,0.165432,0.988478

In [40]:
fr.sort_values(by="B")

,A,B,C,D
2023-07-04,-0.093959,-1.459168,0.416766,0.707263
2023-07-05,1.722704,-0.861637,-0.578633,-0.105543
2023-07-03,-1.480476,-0.034789,-0.518911,-2.221015
2023-07-06,-0.808593,0.163377,0.104953,0.683649
2023-07-08,0.988478,0.165432,-1.263936,0.370066
2023-07-07,0.933979,1.249257,1.402923,-0.055284

In [42]:
fr.to_csv("dane.csv")