In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [3]:
obj = pd.Series([4,7,-8,2])
print(obj)
print(type(obj))

0    4
1    7
2   -8
3    2
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
obj.values

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([34,25,65,12,3,6,55], index=['a','b','c','d','e','f','vd'])
obj2

In [7]:
obj2["e"]

3

In [8]:
obj2['a'] = 6455
obj2

In [9]:
obj2[obj2>10]

In [10]:
sdata = {'Warszawa':45120,'Kraków':38960,'Lublin':31450,'Gdańsk':33210}
sdata

{'Warszawa': 45120, 'Kraków': 38960, 'Lublin': 31450, 'Gdańsk': 33210}

In [11]:
obj3 = pd.Series(sdata)
obj3

In [12]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(sdata,index=miasta)
obj4

In [13]:
pd.isnull(obj4)

In [14]:
obj3+obj4

In [15]:
data = {'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
        'rok':[2017,2018,2019,2018,2019,2020],
        'pop':[2.7,2.75,3.05,0.85,0.9,1.01]}

frame = pd.DataFrame(data)
frame

,miasto,rok,pop
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.85
4,Kraków,2019,0.90
5,Kraków,2020,1.01

In [16]:
frame2 = pd.DataFrame(data, columns=['rok','miasto','pop','wsp'],index=['jeden','dwa','trzy','cztery','pięć','sześc'])
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.85,NaN
pięć,2019,Kraków,0.90,NaN
sześc,2020,Kraków,1.01,NaN

In [17]:
frame2['miasto']

In [18]:
frame2.rok

In [19]:
frame2['wsp'] = 19.99
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,19.99
dwa,2018,Warszawa,2.75,19.99
trzy,2019,Warszawa,3.05,19.99
cztery,2018,Kraków,0.85,19.99
pięć,2019,Kraków,0.90,19.99
sześc,2020,Kraków,1.01,19.99

In [20]:
frame2['wsp'] = np.arange(6.)
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,0.0
dwa,2018,Warszawa,2.75,1.0
trzy,2019,Warszawa,3.05,2.0
cztery,2018,Kraków,0.85,3.0
pięć,2019,Kraków,0.90,4.0
sześc,2020,Kraków,1.01,5.0

In [28]:
daty = pd.date_range("20230703",periods=6)
daty

DatetimeIndex(['2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06',
               '2023-07-07', '2023-07-08'],
              dtype='datetime64[ns]', freq='D')